version: 2.1

jobs:
  service1-prebuild-static-analysis-without-sonarqube-scan:
    executor: temurin
    working_directory: ~/project/services/service1
    steps:
      - checkout:
          path: ~/project
      - scan_sbom
      - store_no_analyzed_reports
  service1-prebuild-static-analysis-and-test-with-sonarqube-scan:
    executor: temurin
    working_directory: ~/project/services/service1
    steps:
      - checkout:
          path: ~/project
      # - restore_cache:
      #     keys:
      #       - dependency-check-db-{{ .Branch }}-{{ .Revision }}
      #       - dependency-check-db-
      - unit_test
      # - analyze_dependency
      - check_coding_bug
      # - save_cache:
      #     paths:
      #       - .m2/repository/org/owasp/dependency-check-data
      #     key: dependency-check-db-{{ .Branch }}-{{ .Revision }}
      - store_analyzed_reports
      - sonarqube_result_push

  service1-build-and-push:
    executor: google-cloud-cli
    working_directory: ~/project/services/service1
    steps:
      - checkout:
          path: ~/project
      - setup_remote_docker:
          docker_layer_caching: true
      - gcloud_setting
      - image_tag_setting
      - image_build
      - image_push
  service1-deploy:
    executor: google-cloud-cli
    working_directory: ~/project/services/service1
    steps:
      - checkout:
          path: ~/project
      - gcloud_setting
      - image_tag_setting
      - deploy

workflows:


  service1-release-to-develop-merge:
    jobs:
      - service1-prebuild-static-analysis-without-sonarqube-scan:
          filters: &develop_filters
            branches:
              only: main
          context:
            - CIRCLECI_COMMON
            - SERVICE1_BK_DEV
      - service1-prebuild-static-analysis-and-test-with-sonarqube-scan:
          filters: *develop_filters
          context:
            - CIRCLECI_COMMON
            - SERVICE1_BK_DEV
            - SERVICE1_BK_SONAR
      - service1-build-and-push:
          requires:
            - service1-prebuild-static-analysis-without-sonarqube-scan
            - service1-prebuild-static-analysis-and-test-with-sonarqube-scan
          context: 
            - CIRCLECI_COMMON
            - SERVICE1_BK_DEV
      - service1-deploy:
          requires:
            - service1-build-and-push
          context:
            - CIRCLECI_COMMON
            - SERVICE1_BK_DEV
