version: 2.1

jobs:
  # prebuild
  service1-build-and-push:
    executor: google-cloud-cli
    working_directory: ~/project/services/service1
    steps:
      - checkout:
          path: ~/project
      - setup_remote_docker:
          docker_layer_caching: true
      - gcloud_setting
      - image_tag_setting
      - image_build
      - image_push
  service1-deploy:
    executor: google-cloud-cli
    working_directory: ~/project/services/service1
    steps:
      - checkout:
          path: ~/project
      - gcloud_setting
      - image_tag_setting
      - deploy

workflows:
  service1-flow:
    jobs:
      # prebuild

      - service1-build-and-push:
          # requires:
          #  - xxx
          context: 
            - CIRCLECI_COMMON
            - SERVICE1_DEV
      - service1-deploy:
          requires:
            - service1-build-and-push
          context:
            - CIRCLECI_COMMON
            - SERVICE1_DEV
